<!DOCTYPE html>
<html>
<head>
  <title>Vege Trader</title>
</head>
<body>
  <form action='/users' method='post'>
    <div>
      <label for='name'>Name</label>
      <input type='text' name='name' placeholder='Name here'/>
    </div>
    <div>
      <label for='name'>Email</label>
      <input type='email' name='email' />
    </div>
    <div>
      <label for='name'>Veges for trade</label>
      <select id = "usersVeges">
        <option value = "1">Chilli</option>
        <option value = "2">Onion</option>
        <option value = "3">Tomatoe</option>
        <option value = "4">Spinach</option>
      </div>
      <div>
        <input type='submit' value='Save' />
      </div>
    </form>
  </body>
  </html>
