<!DOCTYPE html>
<html>
<head>
  <title>Vege Trader</title>
</head>
<body>
  <form action='/users' method='post'>
    <div>
      <label for='name'>Name</label>
      <input type='text' name='name' placeholder='Name here'/>
    </div>
    <div>
      <label for='name'>Email</label>
      <input type='email' name='email' />
    </div>
    <div>
      <label for='name'>Veges for trade</label>
      <select name="Veges">
        <option value="Spinach">Spinach</option>
        <option value="Tomatoe">Tomatoe</option>
        <option value="Chilli">Chilli</option>
        <option value="Onion">Onion</option>
      </select>
    </div>
    <div>
      <input type='submit' value='Save' />
    </div>
  </form>
</body>
</html>
